body {
  background-color: pink;
  margin: 0;
}
h1 {
  text-align: center;
  background-color: #DB9FA9;
}

.one {
  padding: 40px;
  margin: 0;
}
.one {
  font-family: "courier new";
}
.menu {
  overflow: hidden;
  background-color: #E8A8B3;
}
.menu a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 192px;
  text-decoration: none;
  font-size: 17px;
  font-family:"courier new";
}
.menu a:hover {
  background-color: #FCADB5;
}

.head {
  text-align: center;
  font-size: 28px;
}
ul {
  font-family: Lucidatypewriter;
  font-size: 24px;
  list-style-type: circle;
}
#hunger {
  display: block;
  margin: 40px;
  width: 30%;
  float: left;
}
#hungertwo {
  margin: 30px;
  width: 40%;
  float: right;
  display: block;
}
#hungerthree {
  margin: 30px;
  width: 25%;
  height: 5%;
  display: block;
  float: left;
}
.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
.footer a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 180.5px;
  text-decoration: none;
  font-size: 17px;
  font-family:"courier new";
  background-color: #E8A8B3;
}
.footer a:hover {
  background-color: #DB9FA9;
}
#UN {
  margin: 30px;
  width: 40%;
  height: 20%;
  display: block;
  float: right;
}
.footertwo {
  left: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  width: 100%;
  color: black;
  text-align: center;
}
.footertwo a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 180.5px;
  text-decoration: none;
  font-size: 17px;
  font-family:"courier new";
  background-color: #E8A8B3;
}
.footertwo a:hover {
  background-color: #DB9FA9;
}
.change {
  font-size: 35px;
  font-style: bold;
  background-color: #DB9FA9;
  text-align: center;
  margin: 0;
}
